* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #082742;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.profile-image {

    width: 80px;
    height: 80px;
    margin-top: -200px;
    border-radius: 50%;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: hsl(208, 76%, 7%);
}


nav ul {
    display: flex;
    justify-content: center;
    margin-right: -250px;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: lightsalmon;
    font-size: 1.01rem;
}

.left {
    font-size: 1.5rem;
    margin: -250px;
}

.firstsection {
    display: flex;
    justify-content: space-around;

    align-items: center;


}

.firstsection>div {
    width: 30%;
    margin: 30px 0;


}

.leftsection {
    font-size: 3rem;




}

.rightsection img {
    width: 100%;
    margin: 50px -40px;

}

.purple {
    color: #7a0eed;
}

#element {
    color: #7a0eed;
}

.secondsection {
    max-width: 80vw;
    margin: auto;

}

.line {
    border: 0;
    background: #7a0eed;
    height: 1.2px;
    margin: 48px 30px;
}

.secondsection h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.secondsection img {

    

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.main{
    text-decoration: none;
    color: white;
}